extends ../shared/layout

block content
	div(id="tree-container").col

	div(style="width:200px;").col.w-lg.bg-light.lter.b-l.bg-auto
		div(style="position:relative;").wrapper			
			div(style="margin-top:50px;")#zoom-in.text-center
				a(href="").btn.btn-xs.btn-primary.m-b
					i.fa.fa-plus
			div(style="margin-top:50px;")#zoom-out.text-center
				a(href="").btn.btn-xs.btn-primary.m-b
					i.fa.fa-minus
			div(style="margin-top:20px;").text-center
				button(type="button")#new_page_btn.btn.btn-sm.btn-primary.padder-md.m-b New page
			div(style="margin-top:50px;").text-center
				input(type="file",style="display:none;")#image_upload
				label(for="image_upload").btn.btn-sm.btn-primary.padder-md.m-b Upload Image
			div.text-center
				div(style="width:150px; height:150px;")#fileDisplayArea.draggable
			div(style="margin-top:50px;").text-center
				button(type="button").btn.btn-default
					i(style="font-size:80px;").fa.fa-trash				
					

block styles
	link(rel='stylesheet', href='/static/lib/angular/ngImgCrop/compile/minified/ng-img-crop.css')
block scripts	
		script(src='/static/js/controllers/dendrogram.controller.js')
