
extends ../shared/layout

block content
	div.col
		div.bg-light.lter.b-b.wrapper-md
			div.row
				div.col-sm-6.col-xs-12
					h1.m-n.font-thin.h3.text-black #{title}
					small.text-muted Welcome to Fotag
				div.col-sm-6.text-right.hidden-xs
		div.wrapper-md
			div.col-md-5
				div.row.row-sm.text-center
					div.col-xs-6
						div.panel.padder-v.item
							div.h1.text-info.font-thin.h1 521
							span.text-muted.text-xs New items
							div.top.text-right.w-full
								i.fa.fa-caret-down.text-warning.m-r-sm

					div.col-xs-6
						a(href="#").block.panel.padder-v.bg-primary.item
							span.text-white.font-thin.h1.block 930
							span.text-muted.text-xs Uploads
							span.bottom.text-right.w-full
								i.fa.fa-cloud-upload.text-muted.m-r-sm

					div.col-xs-6
						a(href="#").block.panel.padder-v.bg-info.item
							span.text-white.font-thin.h1.block 432
							span.text-muted.text-xs Comments
							span.top.text-left
								i.fa.fa-caret-up.text-warning.m-l-sm

					div.col-xs-6
						div.panel.padder-v.item
							div.h1.text-info.font-thin.h1 129
							span.text-muted.text-xs Feeds
							div.bottom.text-left
								i.fa.fa-caret-up.text-warning.m-l-sm

					div.col-xs-12.m-b-md
						div.r.bg-light.dker.item.hbox.no-border
							div.col.w-xs.v-middle.hidden-md
								

							div.col.dk.padder-v.r-r
								div.text-primary-dk.font-thin.h1
									span $12,670
								span.text-muted.text-xs Revenue, 60% of the goal