doctype html
html
	head
		title Fotag Login
		//link(rel='stylesheet', href='/static/lib/assets/animate.css')
		link(rel='stylesheet', href='/static/lib/assets/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='/static/lib/assets/simple-line-icons/css/simple-line-icons.css')
		link(rel='stylesheet', href='/static/lib/jquery/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet', href='/static/css/app.min.css')
		//link(rel='stylesheet', href='/static/css/font.css')

	body
		div.app.app-header-fixed
			div.container.w-xxl.w-auto-xs
				a(href='#').navbar-brand.block.m-t FOTAG
				block content
				include ../shared/partial/footer.jade
		block scripts