aside(id="aside").app-aside.hidden-xs.bg-dark
	div.aside-wrap
		div.navi-wrap
			// user start
			div.clearfix.hidden-xs.text-center.hide#aside-user
				div.dropdown.wrapper
					a(href='#')
						span.thumb-lg.w-auto-folded.avatar.m-t-sm
							img(src="",alt="...").img-full
					a(href="#",data-toggle="dropdown").dropdown-toggle.hidden-folded
						span.clear
							span.block.m-t-sm
								strong.font-bold.text-lt
								b.caret
							span.text-muted.text-xs.block Marketing
					// dropdown
					ul.dropdown-menu.animated.fadeInRight.w.hidden-folded
						li.wrapper.b-b.m-b-sm.bg-info.m-t-n-xs
							span.arrow.top.hidden-folded.arrow-info
							div
								p 300mb of 500mb used
							div.progress.progress-xs.m-b-none.dker
								div(data-toggle="tooltip",data-original-title="50%",style="width: 50%").progress-bar.bg-white
						li
							a(href="#") Settings
						li
							a(href="/admin/account/profile") Profile
						li 
							a(href="#") Notifications
								span.badge.bg-danger.pull-right 3								
						li.divider
						li
							a(href="/admin/account/signout") Logout	
				div.line.dk.hidden-folded
			// user end
			// nav start
			div(ui-nav).navi.clearfix
				ul.nav
					li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs
						span Navigation
					li 
						a(href="/")
							i.glyphicon.glyphicon-stats.icon.text-primary-dker
							span.font-bold Dashboard
					li
						a(href).auto
							span.pull-right.text-muted
								i.fa.fa-fw.fa-angle-right.text
								i.fa.fa-fw.fa-angle-down.text-active
							i.glyphicon.glyphicon-wrench.icon.text-primary-dker 	
							span.font-bold User Accounts
						ul(style="display: none;").nav.nav-sub.dk
							li
								a(href="/admin/users")
									span Admin Users

			// nav end
			